
<div class="p-3 m-3">
  <form class="shadow" (ngSubmit)="onSubmit()">
    <div class="input-group mb-3">
      <input type="text" class="form-control" placeholder="Buscar usuarios"
      [(ngModel)]="searchTerm" name="searchTerm"
      required minlength="4"
      >
      <button class="btn btn-primary" type="submit">
        <i class="fa-solid fa-magnifying-glass"></i>
        Buscar
      </button>
    </div>

  </form>
  <div class="" *ngIf="users.length ===0 && onSearch">
    sin resultado
  </div>
</div>
<div class="row">
  <div class="col-3 mw-100">
    <app-view-search [users]="users"></app-view-search>
  </div>
  <div class="col-9 mw-100">
   <app-user-followers-grap [users]="users"></app-user-followers-grap>
  </div>
</div>


